body {
  margin: 0 auto;
  font-size: 16px
}
* {
  box-sizing: border-box;
}


.header {
  display: flex;
  padding-top: 30px;
}
.logo {
  padding-left: 100px;
  padding-top: 20px;
}
nav ul {
  display: flex;
  
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  margin:5px;
  padding-left: 80px;
  flex-grow: 1;
 
}
.nav{
  padding-left: 180px;
  margin: -70px;
}


